<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Pep\source\repos\MsSQLCsharp\MsSQLCsharp\TESTDB.mdf;Integrated Security=True"
		name="TestDB"></add>
		<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Pep\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\northwnd.mdf;Integrated Security=True;Connect Timeout=30"
		name="NorthwindDB"></add>
	</connectionStrings>
</configuration>